@import '../../Common/styles/_mixins';
@import '../../Common/styles/_sizing';

.aircrafts {
  @include column;
  width: 100%;
  flex: .2;

  .placeholder {
    @include center-justify;
  }

  .title {
    width: 100%;
    @include center-justify;
    @include title-font;
  }

  .aircraft-list {
    padding: $BASE_SIZE;
    height: 100%;
    @include column;

    .card-padding {
      padding: $BASE_SIZE;

      .aircraft-name {
        @include center-justify;
      }

      .aircraft-capacity {
        @include center-justify;
      }
    }
  }
}