@import './_sizing';

@mixin center-justify {
  display: flex;
  justify-content: center;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin title-font {
  font-size: $HEADER_FONT_SIZE;
  font-weight: 500;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
}