// general sizing
$BASE_SIZE: 1rem;
$QUARTER_SIZE: $BASE_SIZE / 4;
$HALF_SIZE: $BASE_SIZE / 2;
$DOUBLE: $BASE_SIZE * 2;

// font sizing
$DEFAULT_FONT_SIZE: 14px;
$HEADER_FONT_SIZE: 22px;
$SUBHEADER_FONT_SIZE: 18px;