@import '../../Common/styles/_mixins';
@import '../../Common/styles/_sizing';

.rotation {
  @include column;
  flex: .6;
  height: 100%;

  .title {
    width: 100%;
    @include center-justify;
    @include title-font;
  }

  .placeholder {
    @include center-justify;
  }

  .rotation-list {
    padding: $BASE_SIZE;
    height: 100%;
    @include column;

    .card-padding {
      padding: $BASE_SIZE;

      .flight-information {
        display: flex;
        justify-content: flex-start;
        margin-bottom: $BASE_SIZE;
      }

      .flight-data {
        width: 100%;
        display: flex;

        .origin {
          @include column();
          flex: .33;
        }

        .arrow {
          @include column();
          flex: .33;
          align-items: center;

          img {
            width: 150px;
            height: 50px;
          }
        }

        .destination {
          @include column();
          flex: .33;
          align-items: end;
        }
      }
    }
  }
}